<%= render 'layouts/frame', type: :narrow do %>

  <h2>作品編集</h2>
  <%= form_with model: @work do |f| %>
    <div>
      <%= f.label :base_image, 'サムネイル画像' %><br>
      <p>現在のベース画像</p>
      <%= f.file_field :base_image, accept: "image/*" %>
    </div>
    
    <!--fields_forでブロック構文を使っておりfor文が使えないので代用-->
    <% nth_item = 0 %>
    <%= f.fields_for :items, @work.items do |item| %>
      <div class="text-center">
        <%= item.label :genre, 'アイテムグループ名' %><br>
        <%= item.text_field :genre %>
      </div>
      
      <% for nth_image in 0..@work.items[nth_item].images_qty %>
        <div>
          <label for="item-file-<%= nth_item %>" class="btn btn-primary">ファイルを選択</label>
          <%= item.file_field :images, accept: "image/*", multiple: true, id: "item-file" %>
          <p class="file-name-<%= nth_item %> file-layouts"><%= @work.items[nth_item].images[nth_image].filename %></p>
        </div>
      <% end %>
      
      <% nth_item += 1 %>
    <% end %>
    
    <div>
      <%= f.label :title, '作品名' %><br>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :caption, 'キャプション' %><br>
      <%= f.text_area :caption, class:"form-control", size: "1x5" %>
    </div>
    <div>
      <%= f.submit '作品を編集', class:"btn btn-success mt-3" %>
    </div>
    <%= link_to '削除', work_path, method: :delete %>
  <% end %>

<% end %>