<%= render 'layouts/frame' do %>

  <h2>作品投稿</h2>
  <% if @club != nil %>
    <p><%= @club.name %>の作品を投稿します。</p>
  <% end %>
  <%= form_with model: Work.new do |f| %>
    <div>
      <%= f.label :base_image, 'ベース画像' %><br>
      <%= f.file_field :base_image, accept: "image/*" %>
    </div>
    
    <%= f.fields_for :items, Work.new.items.build do |item| %>
      <div>
        <%= item.label :genre, 'アイテムグループ名' %><br>
        <%= item.text_field :genre %>
      </div>
      <div>
        <%= item.label :images, 'アイテム画像' %><br>
        <%= item.file_field :images, multiple: true, accept: "image/*" %>
      </div>
    <% end %>
      
    <div>
      <%= f.label :title, '作品名' %><br>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :caption, 'キャプション' %><br>
      <%= f.text_area :caption, class:"form-control", size: "1x5" %>
    </div>
    <div>
      <% if @club != nil %>
        <%= f.hidden_field :club_id, :value => @club.id %>
      <% end %>
      <%= f.submit '作品を投稿', class:"btn btn-success mt-3" %>
    </div>
    
  <% end %>

<% end %>