<%= render 'layouts/frame', type: :narrow do %>
  
  <%= render 'shared/work', work: @work %>

  <div style="display: flex; flex-wrap: wrap;">
    <span>
      <i class="fa-solid fa-eye"></i>
    </span>
    <span class="mx-1">
      <%= @work.read_counts.size %>
    </span>
    <span class="mx-1">
      <i class="fa-solid fa-heart"></i>
    </span>
    <span id="favorite-count" class="mx-1">
      <%= @work.favorites.count %>
    </span>
    
    <% if @work.user == current_user %>
      <%= link_to '作品の編集', edit_work_path(@work) %>
    <% else %>
      <span style="margin-left: auto;">
        <%= link_to '通報', report_work_path %>
      </span>
    <% end %>
  </div>
  
  <div id="comment_form">
    <%= form_with model: [@work, WorkComment.new], local: false, method: :post do |f| %>
      <%= f.text_area :comment, style: "width: 100%;", rows: '5', class: "comment_textarea" %>
      <%= f.submit "送信" %>
    <% end %>
  </div>
  
  <div id="work-comments">
    <%= render 'public/work_comments/work_comment', work: @work %>
  </div>
  
<% end %>