<table>
  <tbody>
    <% comments.each do |comment| %>
      <tr>
        <td style="padding-top: 10px;">
          <%= link_to my_page_user_path(comment.user) do %>
            <%= image_tag comment.user.get_profile_image(50, 50), class: "rounded-circle" %><br>
            <%= comment.user.name %>
          <% end %>
        </td>
        <td style="padding: 20px; font-size: 14px; ">
          <%= comment.comment %>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <%= comment.y_to_m %>
        </td>
        <% if [comment.user, work.user, work.club&.users].compact.include?(current_user) %>
          <td style="width: 48px">
            <%= link_to '削除', work_work_comment_path(work_id: work.id, id: comment.id), remote: true, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-secondary btn-sm" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="justify-contents mt-3">
  <%= paginate comments %>
</div>