<table>
  <tbody>
    <% comments.each do |comment| %>
      <tr>
        <td style="padding-top: 20px;">
          <%= link_to my_page_user_path(comment.user_id) do %>
            <%= image_tag comment.user.get_profile_image(70, 70), class: "rounded-circle" %><br>
            <%= comment.user.name %>
          <% end %>
        </td>
        <td style="padding: 20px 20px 0 20px">
          <%= comment.comment %>
        </td>
        
      </tr>
      <tr>
        <% unless admin_signed_in? %>
          <% if [comment.user.id, club.owner_id].include?(current_user.id) %>
            <td style="width: 48px">
              <%= link_to '削除', club_club_comment_path(club_id: club.id, id: comment.id), remote: true, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-secondary btn-sm" %>
            </td>
          <% end %>
        <% end %>
        <td colspan="2">
          <%= comment.y_to_m %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="justify-contents mt-3">
  <%= paginate comments %>
</div>