<%= render 'layouts/frame', type: :standard do %>
  
  <ul class="tab-menu">
    <li><a href="#tab1" class="active">イラスト</a></li>
    <li><a href="#tab2">ユーザー</a></li>
    <li><a href="#tab3">サークル</a></li>
  </ul>
  
  <div class="tab-contents">
    
    <div id="tab1" class="area active">
      <p>検索結果: <%= @works_all.size %> 作品</p>
      <%= render 'shared/works', works: @works, name: true, page: true %>
    </div>
    
    <div id="tab2" class="area">
      <p>検索結果: <%= @users.size %> 人</p>
      <%= render 'shared/users', users: @users, club: nil %>
    </div>
    
    <div id="tab3" class="area">
      <p>検索結果: <%= @clubs.size %> サークル</p>
      <%= render 'shared/clubs', clubs: @clubs %>
    </div>
    
  </div>
  
<% end %>
