
<%= render 'layouts/frame', type: :standard do %>
<div class="terms">
  <h2 class="text-center border-title font-weight-bold">Iconize利用規約/プライバシーポリシー</h2>
  <h3>はじめに</h3>
  <p>
    　当サイトではSNS等のアイコンに使用するイラストを探し、ダウンロードすることができます。<br>
    　使用範囲は「アイコンへの使用」のみに限定しますが、作者が指定した範囲で使用することもできます。<br>
    　以下、ダミー文章です。
  </p>
  <% c_num = 1 %>
  <% a_num = 1 %>
  <% p_num = 1 %>
  <div>
    <h3><%= chapter(c_num) %><% c_num += 1 %>　天皇</h3>
    
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>天皇は、日本国の象徴であり日本国民統合の象徴であつて、この地位は、主権の存する日本国民の総意に基く。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>皇位は、世襲のものであつて、国会の議決した皇室典範の定めるところにより、これを継承する。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>天皇の国事に関するすべての行為には、内閣の助言と承認を必要とし、内閣が、その責任を負ふ。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>天皇は、この憲法の定める国事に関する行為のみを行ひ、国政に関する権能を有しない。</p>
        <p>②　天皇は、法律の定めるところにより、その国事に関する行為を委任することができる。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>皇室典範の定めるところにより摂政を置くときは、摂政は、天皇の名でその国事に関する行為を行ふ。この場合には、前条第一項の規定を準用する。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>天皇は、国会の指名に基いて、内閣総理大臣を任命する。</p>
        <p>②　天皇は、内閣の指名に基いて、最高裁判所の長たる裁判官を任命する。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>天皇は、内閣の助言と承認により、国民のために、左の国事に関する行為を行ふ。</p>
        <p><%= paragraph(p_num) %><% p_num +=1 %>　憲法改正、法律、政令及び条約を公布すること。</p>
        <p><%= paragraph(p_num) %><% p_num +=1 %>　国会を召集すること。</p>
        <p><%= paragraph(p_num) %><% p_num +=1 %>　衆議院を解散すること。</p>
        <p><%= paragraph(p_num) %><% p_num +=1 %>　国会議員の総選挙の施行を公示すること。</p>
        <p><%= paragraph(p_num) %><% p_num +=1 %>　国務大臣及び法律の定めるその他の官吏の任免並びに全権委任状及び大使及び公使の信任状を認証すること。</p>
        <p><%= paragraph(p_num) %><% p_num +=1 %>　大赦、特赦、減刑、刑の執行の免除及び復権を認証すること。</p>
        <p><%= paragraph(p_num) %><% p_num +=1 %>　栄典を授与すること。</p>
        <p><%= paragraph(p_num) %><% p_num +=1 %>　批准書及び法律の定めるその他の外交文書を認証すること。</p>
        <p><%= paragraph(p_num) %><% p_num +=1 %>　外国の大使及び公使を接受すること。</p>
        <p><%= paragraph(p_num) %><% p_num = 1 %>　儀式を行ふこと</p>
        
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>皇室に財産を譲り渡し、又は皇室が、財産を譲り受け、若しくは賜与することは、国会の議決に基かなければならない。</p>
      
    <h3><%= chapter(c_num) %><% c_num += 1 %>　戦争の放棄</h3>
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>日本国民は、正義と秩序を基調とする国際平和を誠実に希求し、国権の発動たる戦争と、武力による威嚇又は武力の行使は、国際紛争を解決する手段としては、永久にこれを放棄する。</p>
      <p>②　前項の目的を達するため、陸海空軍その他の戦力は、これを保持しない。国の交戦権は、これを認めない。</p>
      
    <h3><%= chapter(c_num) %><% c_num += 1 %>　国民の権利及び義務</h3>
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>日本国民たる要件は、法律でこれを定める。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>国民は、すべての基本的人権の享有を妨げられない。この憲法が国民に保障する基本的人権は、侵すことのできない永久の権利として、現在及び将来の国民に与へられる。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>この憲法が国民に保障する自由及び権利は、国民の不断の努力によつて、これを保持しなければならない。又、国民は、これを濫用してはならないのであつて、常に公共の福祉のためにこれを利用する責任を負ふ。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>すべて国民は、個人として尊重される。生命、自由及び幸福追求に対する国民の権利については、公共の福祉に反しない限り、立法その他の国政の上で、最大の尊重を必要とする。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>すべて国民は、法の下に平等であつて、人種、信条、性別、社会的身分又は門地により、政治的、経済的又は社会的関係において、差別されない。</p>
      <p>②　華族その他の貴族の制度は、これを認めない。</p>
      <p>③　栄誉、勲章その他の栄典の授与は、いかなる特権も伴はない。栄典の授与は、現にこれを有し、又は将来これを受ける者の一代に限り、その効力を有する。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>公務員を選定し、及びこれを罷免することは、国民固有の権利である。</p>
      <p>②　すべて公務員は、全体の奉仕者であつて、一部の奉仕者ではない。</p>
      <p>③　公務員の選挙については、成年者による普通選挙を保障する。</p>
      <p>④　すべて選挙における投票の秘密は、これを侵してはならない。選挙人は、その選択に関し公的にも私的にも責任を問はれない。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>何人も、損害の救済、公務員の罷免、法律、命令又は規則の制定、廃止又は改正その他の事項に関し、平穏に請願する権利を有し、何人も、かかる請願をしたためにいかなる差別待遇も受けない。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>何人も、公務員の不法行為により、損害を受けたときは、法律の定めるところにより、国又は公共団体に、その賠償を求めることができる。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>何人も、いかなる奴隷的拘束も受けない。又、犯罪に因る処罰の場合を除いては、その意に反する苦役に服させられない。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>思想及び良心の自由は、これを侵してはならない。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>信教の自由は、何人に対してもこれを保障する。いかなる宗教団体も、国から特権を受け、又は政治上の権力を行使してはならない。</p>
      <p>②　何人も、宗教上の行為、祝典、儀式又は行事に参加することを強制されない。</p>
      <p>③　国及びその機関は、宗教教育その他いかなる宗教的活動もしてはならない。</p>
      
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>集会、結社及び言論、出版その他一切の表現の自由は、これを保障する。</p>
      <p>②　検閲は、これをしてはならない。通信の秘密は、これを侵してはならない。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>何人も、公共の福祉に反しない限り、居住、移転及び職業選択の自由を有する。</p>
      <p>②　何人も、外国に移住し、又は国籍を離脱する自由を侵されない。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>学問の自由は、これを保障する。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>婚姻は、両性の合意のみに基いて成立し、夫婦が同等の権利を有することを基本として、相互の協力により、維持されなければならない。</p>
      <p>②　配偶者の選択、財産権、相続、住居の選定、離婚並びに婚姻及び家族に関するその他の事項に関しては、法律は、個人の尊厳と両性の本質的平等に立脚して、制定されなければならない。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>すべて国民は、健康で文化的な最低限度の生活を営む権利を有する。</p>
      <p>②　国は、すべての生活部面について、社会福祉、社会保障及び公衆衛生の向上及び増進に努めなければならない。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>すべて国民は、法律の定めるところにより、その能力に応じて、ひとしく教育を受ける権利を有する。</p>
      <p>②　すべて国民は、法律の定めるところにより、その保護する子女に普通教育を受けさせる義務を負ふ。義務教育は、これを無償とする。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>すべて国民は、勤労の権利を有し、義務を負ふ。</p>
      <p>②　賃金、就業時間、休息その他の勤労条件に関する基準は、法律でこれを定める。</p>
      <p>③　児童は、これを酷使してはならない。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>勤労者の団結する権利及び団体交渉その他の団体行動をする権利は、これを保障する。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>財産権は、これを侵してはならない。</p>
      <p>②　財産権の内容は、公共の福祉に適合するやうに、法律でこれを定める。</p>
      <p>③　私有財産は、正当な補償の下に、これを公共のために用ひることができる。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>国民は、法律の定めるところにより、納税の義務を負ふ。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>何人も、法律の定める手続によらなければ、その生命若しくは自由を奪はれ、又はその他の刑罰を科せられない。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>何人も、裁判所において裁判を受ける権利を奪はれない。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>何人も、現行犯として逮捕される場合を除いては、権限を有する司法官憲が発し、且つ理由となつてゐる犯罪を明示する令状によらなければ、逮捕されない。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>何人も、理由を直ちに告げられ、且つ、直ちに弁護人に依頼する権利を与へられなければ、抑留又は拘禁されない。又、何人も、正当な理由がなければ、拘禁されず、要求があれば、その理由は、直ちに本人及びその弁護人の出席する公開の法廷で示されなければならない。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>何人も、その住居、書類及び所持品について、侵入、捜索及び押収を受けることのない権利は、第三十三条の場合を除いては、正当な理由に基いて発せられ、且つ捜索する場所及び押収する物を明示する令状がなければ、侵されない。</p>
      <p>②　捜索又は押収は、権限を有する司法官憲が発する各別の令状により、これを行ふ。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>公務員による拷問及び残虐な刑罰は、絶対にこれを禁ずる。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>すべて刑事事件においては、被告人は、公平な裁判所の迅速な公開裁判を受ける権利を有する。</p>
      <p>②　刑事被告人は、すべての証人に対して審問する機会を充分に与へられ、又、公費で自己のために強制的手続により証人を求める権利を有する。</p>
      <p>③　刑事被告人は、いかなる場合にも、資格を有する弁護人を依頼することができる。被告人が自らこれを依頼することができないときは、国でこれを附する。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>何人も、自己に不利益な供述を強要されない。</p>
      <p>②　強制、拷問若しくは脅迫による自白又は不当に長く抑留若しくは拘禁された後の自白は、これを証拠とすることができない。</p>
      <p>③　何人も、自己に不利益な唯一の証拠が本人の自白である場合には、有罪とされ、又は刑罰を科せられない。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>何人も、実行の時に適法であつた行為又は既に無罪とされた行為については、刑事上の責任を問はれない。又、同一の犯罪について、重ねて刑事上の責任を問はれない。</p>
      
      <h5><%= article(a_num) %><% a_num += 1 %></h5>
      <p>何人も、抑留又は拘禁された後、無罪の裁判を受けたときは、法律の定めるところにより、国にその補償を求めることができる。</p>
  </div>
</div>
<% end %>