<%= render 'layouts/frame' do %>
  
  <ul class="tab-menu">
    <li><a href="#tab1" class="active">イラスト</a></li>
    <li><a href="#tab2">ユーザー</a></li>
    <!--<li>グループ</li>-->
  </ul>
  
  <div class="tab-contents">
    
    <div id="tab1" class="area">
      <p>検索結果: <%= works.size %> 作品</p>
      <%= render 'shared/works', works: works %>
    </div>
    
    <div id="tab2" class="area">
      <% users.each do |user| %>
        <%= user.name %>
        <%= link_to user_path(user) do %>
          <%= image_tag user.get_image(70, 70) %>
        <% end %>
        <%= user.introduction %>
      <% end %>
    </div>
    
  </div>
  
<% end %>

<!--タブの切り替え-->
<script>
  $(document).ready(function(event){
    $('.tab-contents .area[id != "tab1"]').hide();

    $('.tab-menu a').on('click', function(event) {
      $(".tab-contents .area").hide();
      $(".tab-menu .active").removeClass("active");
      $(this).addClass("active");
      $($(this).attr("href")).show();
      event.preventDefault();
    });
  })
</script>