<table class="table">
  <tbody>
    <% users.each do |user| %>
      <tr class="row-width">
        
        <% if club.present? %>
          <td class="td-sm">
            <%= link_to '許可', accept_clubs_path(club_id: club.id, user_id: user.id), data: { confirm: '本当に許可しますか？' } %>
          </td>
        <% end %>
        
        <!--管理者か一般ユーザーかでリンク先分岐-->
        
        <% if admin_signed_in? %>
          <td class="td-sm"><%= user.status %></td>
        <% end %>
        <td>
          <%= link_to admin_signed_in? ? admin_user_path(user) : my_page_user_path(user) do %>
            <%= image_tag user.get_profile_image(100, 100), class: "rounded-circle" %>
          <% end %><br>
        </td>
        
        <td>
          <%= user.name %><br>
          <% if user.introduction.present? %>
            <%= user.introduction.truncate(40) %>
          <% end %>
        </td>
        
        <% works = user.works.where(is_published: true).order(created_at: :desc).limit(4) %>
        <% works.each do |work| %>
          <td>
            <%= link_to work_path(work) do %>
              <%= image_tag work.get_thumbnail(150, 150) %>
            <% end %>
          </td>
        <% end %>
        
        <!--作品を投稿していない/少ないユーザーの作品欄に空tdを追加-->
        <% empty_td = 3 - works.size %>
        <% for i in 0..empty_td %>
          <td></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<div class="justify-contents mt-3">
  <%= paginate users %>
</div>