<% works.each_slice(5) do |works_row| %>
  <div class="row">
    <% works_row.each do |work| %>
      <div class="col">
        <!--管理者か一般ユーザーかでリンク先分岐-->
        <% if admin_signed_in? %>
          <%= link_to admin_work_path(work) do %>
            <%= image_tag work.get_base_image(150, 150) %>
          <% end %><br>
        <% else %>
          <%= link_to work_path(work) do %>
            <%= image_tag work.get_base_image(150, 150) %>
          <% end %><br>
        <% end %>
        <%= work.user.name %>
        <%= work.title %>
      </div>
    <% end %>
  </div>
<% end %>