
  <!--実際に画像が動くところ-->
  <div class="position-relative left-10">
    <% for nth_item in 0..work.items_qty %>
      <% for nth_image in 0..work.items[nth_item].images_qty do %>
        <!--1つ目のアイテムは最初から表示-->
          <span class="image_<%= nth_item %>_<%= nth_image %> <%= nth_image == 0 ? '' : 'non-active-image'%> position-absolute">
            <%= image_tag work.items[nth_item].images[nth_image], size:"350x350" %>
          </span>
      <% end %>
    <% end %>
  </div>
  
  <!--タブ-->
  <ul class="user-tab-menu mt-350">
    <% for i in 0..work.items_qty %>
      <% item = work.items[i] %>
      <li class="nav-item">
       <!-- 最初のitemにはactiveクラスを追加 -->
        <a class="<% if i == 0 %>active<% end %>"
          data-toggle="tab"
          href="#img<%= item.id %>"><%= item.genre %>
        </a>
      </li>
    <% end %>
  </ul>
      
     <!--ラジオボックス-->
  <%= form_with model: work, url: download_works_path, method: :post do |f| %>
    <div class="user-tab-contents text-center radiobtn-layouts">
      <% for nth_item in 0..work.items_qty %> <!--work.itemsの数だけ繰り返し。-->
        <span id="img<%= work.items[nth_item].id %>" class="area <% if nth_item == 0 %>active<% end %> ">
            <% for nth_thumbnail in 0..work.items[nth_item].images_qty do %>  <!--item.imagesの数だけ繰り返し-->
              <!--1つ目のアイテムは最初から選択された状態にする-->
              <% if nth_thumbnail == 0 %>
                <%= f.radio_button :"item_number_#{nth_item}", nth_thumbnail, checked: true %>
                <%= f.label :"item_number_#{nth_item}_#{nth_thumbnail}", class:"item_number_#{nth_item}_#{nth_thumbnail} active-thumbnail thumbnail-layouts" do %>
                  <%= image_tag work.items[nth_item].thumbnails[nth_thumbnail], size:"80x80", class: "btn" %>
                <% end %>
              <% else %>
                <%= f.radio_button :"item_number_#{nth_item}", nth_thumbnail %>
                <%= f.label :"item_number_#{nth_item}_#{nth_thumbnail}", class:"item_number_#{nth_item}_#{nth_thumbnail} thumbnail-layouts" do %>
                  <%= image_tag work.items[nth_item].thumbnails[nth_thumbnail], size:"80x80", class: "btn" %>
                <% end %>
              <% end %>
            <% end %>
          
           
            <script>
            // ラジオボックスをクリックして画像の表示、非表示
              $(document).ready(function(){
                let thumbnail_size = "<%= work.items[nth_item].images_qty %>"         // workのn番目のitemのimageの数を代入
                for (let thumbnail = 0; thumbnail <= thumbnail_size; thumbnail++){    // thumbnail_sizeの数になるまで繰り返し
                  let current_thumbnail = $('.item_number_' + "<%= nth_item %>" + '_' + thumbnail )
                  current_thumbnail.on('click', function(){
                    for (let all_images_hide = 0; all_images_hide <= thumbnail_size; all_images_hide++){ // activeでない画像を消す。
                      $('.image_' + "<%= nth_item %>" + '_' + all_images_hide ).hide();
                      $('.item_number_' + "<%= nth_item %>" + '_' + all_images_hide ).removeClass('active-thumbnail');
                    }
                    
                    $('.image_' + "<%= nth_item %>" + '_' + thumbnail ).toggle();
                    
                    if (current_thumbnail.hasClass('active-thumbnail')){
                      current_thumbnail.removeClass('active-thumbnail');
                    }else{
                      current_thumbnail.addClass('active-thumbnail');
                    }
                  })
                }
              })
            </script>
        </span>
      <% end %>
        <br>
        <%= f.hidden_field :id, :value => work.id %>
        
    </div>
    <div class="text-right">
      <%= f.submit 'ダウンロード', class: "btn btn-outline-info mt-3" %>
    </div>
  <% end %>
  
  <div class="edit-link d-flex-wrap">
    <p>
      <!--アクセスした人は管理者か一般ユーザーか？さらに、投稿者はサークルか個人ユーザーか？の4つでリンク先分ける。-->
      <% target_path, target_image, target_name = if admin_signed_in?
                                                    if work.club
                                                      [admin_club_path(work.club), work.club.get_club_image(50, 50), work.club.name]
                                                    else
                                                      [admin_user_path(work.user), work.user.get_profile_image(50, 50), work.user.name]
                                                    end
                                                  elsif work.club
                                                    [club_path(work.club), work.club.get_club_image(50, 50), work.club.name]
                                                  else
                                                    [my_page_user_path(work.user), work.user.get_profile_image(50, 50), work.user.name]
                                                  end %>

      <%= link_to target_path do %>
        <%= image_tag target_image, class: "rounded-circle" %>
        <%= target_name %>
      <% end %>
    </p>
    
    <% unless admin_signed_in? %>
      <% unless current_user == work.user || work.club && work.club.users.include?(current_user) %>
        <span id="favorite-buttons-<%= @work.id %>" class="ml-auto edit-link heart">
          <%= render 'public/favorites/favorite', work: @work %>
        </span>
      <% end %>
    <% end %>
  </div>
  
  <p class="fs-24">
    <%= work.title %>
  </p>
  <p>
    <%= work.caption %>
  </p>
  
  <p class="text-right fs-14"><%= work.y_to_m %></p>
  