<div class="container py-5 main-color">
  <div class="row">
        
    <div class="col-auto">
      <%= image_tag @club.get_club_image(200, 200), class: "rounded-circle" %>
    </div>
    
    <div class="col-auto details">
      <h4><%= @club.name %></h4>
      <p>
        サークル作成者:<%= @owner.name %><br>
        メンバー数:<%= link_to member_admin_club_path do %>
                     <%= @club.users.count %>
                   <% end %><br>
        作品数:<%= @club.works.count %>
      </p>
    </div>
    <div class="col-lg-8 col-12 introduction">
      <p class=""><%= @club.introduction %></p>
    </div>
    <div class="col-auto mt-5">
      
    </div>
  </div>
  <div class="row">
    <div class="col">
      
      <ul class="tab-menu">
        <li><a href="#community" class="active">コミュニティ</a></li>
        <li><a href="#works">サークルの作品</a></li>
      </ul>
  
      <div class="tab-contents">
        
        <div id="community" class="tab2 area active">
          <div id="club-comments">
            <%= render 'public/club_comments/club_comment', club: @club, comments: @comments %>
          </div>
        </div>
        
        <div id="works" class="tab1 area">
          <%= render 'shared/works', works: @club_works, name: false, page: true %>
        </div>
        
      </div>
      
    </div>
  </div>
  
</div>
  