<%= render 'layouts/frame', type: :narrow do %>
  <%= form_with model: @club, loacl: false do |f| %>
    <%= render 'public/shared/error_messages', resource: @club %>
      <h4 class="text-center border-title">
        サークル情報編集
      </h4>
      <div class="mt-4 justify-contents">
        <%= f.label :club_image, 'プロフィール画像', class: "btn btn-primary" %><br>
        <%= f.file_field :club_image, accept: "image/*", class: "input-image" %>
        <p class="display-filename file-layouts"><%= @club.club_image.filename %></p>
      </div>
      <div class="form-group">
        <%= f.label :name, 'サークル名（50字まで）' %><br>
        <%= f.text_field :name %>
      </div>
      <div class="form-group">
        <%= f.label :introduction, 'サークル紹介（400字まで）' %><br>
        <%= f.text_area :introduction, class: "form-control", size:"1x5" %>
      </div>
      <div class="form-group">
        <%= f.submit '変更を保存', class: "btn btn-info btn-block" %>
      </div>
      <%= link_to 'サークルの削除', club_path(@club), method: :delete, data:{confirm: "本当に削除しますか？"}, class: "btn btn-danger btn-block my-4" %>
      <%= link_to 'キャンセル', club_path(@club) %>
      
      
    
  <% end %>
<% end %>