<%= render 'layouts/frame', type: :standard do %>
  <%= form_with model: @club, loacl: false do |f| %>
    <%= render 'public/shared/error_messages', resource: @club %>
    <!--エラーメッセージが出ない。-->
      <div>
        <%= f.label :club_image, 'プロフィール画像' %><br>
        <%= f.file_field :club_image, accept: "image/*" %>
      </div>
      <div>
        <%= f.label :name, 'ニックネーム' %><br>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :introduction, 'サークル紹介' %><br>
        <%= f.text_area :introduction, size:"100x5" %>
      </div>
      <%= f.submit '変更を保存' %>
      
      <%= link_to 'キャンセル', my_page_user_path %>
    
  <% end %>
<% end %>