<%= render 'layouts/frame', type: :narrow do %>
  <%= render 'public/shared/error_messages', resource: Club.new %>
  
  <h4 class="border-title text-center">サークル作成画面</h4>
  <%= form_with model: Club.new do |f| %>
    <div class="form-group chara-limit-container">
      <%= f.label :name, 'サークル名' %><br>
      <%= f.text_field :name, autofocus: true, class: "chara-limit chara-limit-short", data: {limit: 50} %>
      <p class="output-count over-limit" style="display: none;"></p>
    </div>
    <div class="form-group chara-limit-container">
      <%= f.label :introduction, 'サークル紹介' %><br>
      <%= f.text_area :introduction, class: "form-control chara-limit chara-limit-long", data: {limit: 400}, size:"1x5" %>
      <p class="text-right output-count">0/400字</p>
    </div>
    <div class="form-group">
      <%= f.submit "サークルを作成する", class:"btn btn-block btn-info mt-4 add-disabled" %>
      <%= link_to 'キャンセル', request.referer, class: "btn btn-outline-secondary btn-block mt-4" %>
    </div>
  <% end %>
  
<% end %>