<%= render 'layouts/frame', type: :standard do %>

  <ul class="tab-menu">
    <li><a href="#working" class="active">処理中</a></li>
    <li><a href="#resolved">解決済</a></li>
  </ul>
  
  <span class="tab-contents">
    <span  id="working" class="area active max-width">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 30%;">通報時間</th>
            <th style="width: 10%;">通報id</th>
            <th style="width: 30%;">タイプ</th>
            <th style="width: 30%;">フラグ</th>
          </tr>
        </thead>
        
        <tbody>
          <% @working_reports.each do |report| %>
            <tr>
              <td>
                <%= link_to admin_report_path(report) do %>
                  <%= report.y_to_s %>
                <% end %>
              </td>
              <td><%= report.id %></td>
              <td><%= I18n.t("enums.report.type.#{report.type}") %></td>
              <td><%= I18n.t("enums.report.status.#{report.status}") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </span>
    
    <span id="resolved" class="area max-width">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 30%;">通報時間</th>
            <th style="width: 10%;">通報id</th>
            <th style="width: 30%;">タイプ</th>
            <th style="width: 30%;">フラグ</th>
          </tr>
        </thead>
        
        <tbody>
          <% @resolved_reports.each do |report| %>
            <tr>
              <td>
                <%= link_to admin_report_path(report) do %>
                  <%= report.y_to_s %>
                <% end %>
              </td>
              <td><%= report.id %></td>
              <td><%= I18n.t("enums.report.type.#{report.type}") %></td>
              <td><%= I18n.t("enums.report.status.#{report.status}") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </span>
  </span>

<% end %>