<%= render 'layouts/frame' do %>

  <h2>タブで解決済みは隠すようにしたい。</h2>
  <table class="table">
    <thead>
      <tr>
        <th>通報時間</th>
        <th>通報id</th>
        <th>タイプ</th>
        <th>フラグ</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td>
            <%= link_to admin_report_path(report) do %>
              <%= report.y_to_s %>
            <% end %>
          </td>
          <td><%= report.id %></td>
          <td><%= I18n.t("enums.report.type.#{report.type}") %></td>
          <td><%= I18n.t("enums.report.status.#{report.status}") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    
    
    

<% end %>