<%= render 'layouts/frame' do %>
  
  <h2>問題を報告する</h2>
  
  <%= form_with model: Report.new, local: true do |f| %>
    <h4>どのような問題が起きていますか？</h4>
    <%= f.select :type, Report.types.keys.map { |type| [I18n.t("enums.report.type.#{type}"), type] } %>
    <%= f.text_area :comment, class:"form-control", size: "1x5" %>
    <%= f.hidden_field :which_work, :value => @work.id %>
    <%= f.submit '報告する', 'data-confirm': "報告しますか？" %>
    <%= link_to 'キャンセル', work_path(@work) %>
  <% end %>
  
<% end %>