<%= render 'layouts/frame' do %>
  <h2>本当に<%= @user.name %>さんのアカウントを<%= @way_ja %>しますか？</h2>
  <% case @way %>
  <% when "invalidate" %>
    <div>
      <%= link_to 'アカウントの無効', admin_user_path(@user.id), method: :patch, data: {confirm: "本当に無効にしますか？"} %>
    </div>
  <% when "validate" %>
    <div>
      <%= link_to 'アカウントの有効', admin_user_path(@user.id), method: :patch, data: {confirm: "本当に有効にしますか？"} %>
    </div>
  <% when "destroy" %>
  <span>
    <%= link_to 'アカウントの削除', admin_user_path(@user.id), method: :delete, data: {confirm: "本当に削除しますか？"} %>/
  </span>
  <% end %>
  <span>
    <%= link_to '戻る', admin_user_path(@user) %>
  </span>
<% end %>