<%= render 'layouts/frame' do %>
  <% if @user.is_active %>
    <div>
      <%= @user.name %>さんのアカウントを無効にしますか？
    </div>
  <% else %>
    <div>
      <%= @user.name %>さんのアカウントを有効にしますか？
    </div>
  <% end %>
  <span>
    <%= link_to 'はい', admin_user_path(@user.id), method: :patch %>/
  </span>
  <span>
    <%= link_to '戻る', admin_user_path(@user) %>
  </span>
  
<% end %>