<div class="container py-5 main-color">
  
  <div class="row">
    
    <div class="col-auto">
      <%= image_tag @user.get_profile_image(200, 200), class: "rounded-circle" %>
    </div>
    
    <div class="col-auto details">
      <h4><%= @user.name %></h4>
    </div>
    
    <div class="col-lg-8 col-12 introduction">
      <p class=""><%= @user.introduction %></p>
    </div>
    
  </div>

  <div class="col-2">
    <% if @user.is_active %>
      <div>
        <%= link_to 'アカウントの無効', confirm_admin_user_path(way: "invalidate") %>
      </div>
    <% else %>
      <div>
        <%= link_to 'アカウントの有効', confirm_admin_user_path(way: "validate") %>
      </div>
    <% end %>
    <span>
      <%= link_to 'アカウントの削除', confirm_admin_user_path(way: "destroy") %>
    </span>
  </div>
  
  <div class="row mt-4">
    <div class="col">
      <p>投稿数: <%= @user.works.size %> 作品</p>
      <%= render 'shared/works', works: @user_works, name: false %>
    </div>
  </div>
  
</div>
  
