<div class="container">
  
  <div class="row">
    <h2><%= @user.name %>のマイページ</h2>
  </div>
  
  <div class="row">
    <div class="col-auto">
      <%= image_tag @user.get_profile_image(200, 200) %>
    </div>
    <div class="col-7">
      <p><%= @user.introduction %></p>
    </div>
    <div class="col-2">
      <%= link_to confirm_admin_user_path, method: :get do %>
        <% @user.status %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <div id="my-work" class="area active">
        <p>投稿数: <%= @user.works.size %> 作品</p>
        <%= render 'shared/works', works: @user.works, name: false %>
      </div>
    </div>
  </div>
  
</div>
  
