<%= render 'layouts/frame', type: :narrow do %>
  <%= form_with model: @user, local: false do |f| %>
    <%= render 'public/shared/error_messages', resource: @user %>
    
      <h4 class="border-title text-center">プロフィールの編集</h4>
      <div class="">
        <%= image_tag @user.get_profile_image(100, 100), class: "rounded-circle" %>
        <%= f.label :profile_image, 'プロフィール画像', class: "btn" do %>
          <i class="fa-solid fa-wrench fa-flip-horizontal fa-2xl wrench"></i>
        <% end %>
        <%= image_tag "transparent.png", class: "user-image-preview rounded-circle" %>
        <p class="display-filename file-layouts"><%= @user.profile_image.filename %></p>
        <%= f.file_field :profile_image, accept: "image/*", class: "input-image" %>
      </div>
      <div class="chara-limit-container">
        <%= f.label :name, 'ニックネーム' %><br>
        <%= f.text_field :name, class: "form-control chara-limit", data: {limit: 10} %>
        <p class="output-count"><%= @user.name.size %>/10字</p>
      </div>
      <div class="chara-limit-container">
        <%= f.label :introduction, "自己紹介" %><br>
        <%= f.text_area :introduction, class: "form-control chara-limit", data: {limit: 400}, size: "1x5" %>
        <p class="text-right output-count"><%= @user.introduction.size %>/400字</p>
      </div>
      <div class="form-group">
        <%= f.submit '変更を保存', class: "btn btn-block btn-info add-disabled" %>
      </div>
      
      <%= link_to 'キャンセル', my_page_user_path %>
    
  <% end %>
<% end %>