<div class="container">
  
  <div class="row">
    <h2><%= @user.name %>のマイページ</h2>
  </div>
  
  <div class="row">
    <div class="col-auto">
      <%= image_tag @user.get_profile_image(200, 200) %>
    </div>
    <div class="col-7">
      <p><%= @user.introduction %></p>
    </div>
    <div class="col-auto">
      <% if @user == current_user %>
        <%= link_to 'プロフィールを編集', edit_user_path %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      
      <ul class="tab-menu">
        <li><a href="#my-work" class="active">私の作品</a></li>
        <li><a href="#my-favorite">ブックマーク</a></li>
      </ul>
  
      <div class="tab-contents">
        
        <div id="my-work" class="area active">
          <p>投稿数: <%= @user.works.size %> 作品</p>
          <%= render 'shared/works', works: @user.works, name: false %>
        </div>
        
        <div id="my-favorite" class="area">
          <p>ブックマーク数: <%= @user.favorited_works.count %> 作品</p>
          <%= render 'shared/works', works: @user.favorited_works, name: false %>
        </div>
        
      </div>
      
    </div>
  </div>
</div>
  
