<div class="container py-5 main-color">
  
  <div class="row">
    <div class="col-auto">
      <%= image_tag @user.get_profile_image(200, 200), class: "rounded-circle" %>
    </div>
    <div class="col-7">
      <h4><%= @user.name %>のマイページ</h4>
      <p><%= @user.introduction %></p>
    </div>
    <div class="col-auto">
      <span id="relationships">
        <%= render 'public/users/relationships', user: @user %>
      </span>
      <br>
      フォロー数: 
      <%= link_to following_user_path do %>
        <%= @user.following.count %>
      <% end %>
      <br>
      フォロワー数: 
      <%= link_to followers_user_path do %>
        <span id="followers-count">
          <%= @user.followers.count %>
        </span>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      
      <ul class="tab-menu">
        <li><a href="#my-work" class="active">私の作品</a></li>
        <li><a href="#my-favorite">お気に入り</a></li>
      </ul>
      
      <div class="tab-contents">
        
        <div id="my-work" class="area active">
          <p>投稿数: <%= @user.works.size %> 作品</p>
          <%= render 'shared/works', works: @user.works, name: false %>
        </div>
        
        <div id="my-favorite" class="area">
          <p>ブックマーク数: <%= @user.favorited_works.count %> 作品</p>
          <%= render 'shared/works', works: @user.favorited_works, name: false %>
        </div>
        
      </div>
      
    </div>
  </div>
  
</div>
  
