<div class="container py-5 main-color">
  
  <div class="row">
    
    <div class="col-auto">
      <%= image_tag @user.get_profile_image(200, 200), class: "rounded-circle" %>
    </div>
    
    <div class="col-auto details">
      
      <h4><%= @user.name %></h4>
      
      <span id="relationships">
        <%= render 'public/users/relationships', user: @user %>
      </span>
      <br>
      フォロー数: 
      <%= link_to following_user_path do %>
        <%= @user.following.count %>
      <% end %>
      <br>
      フォロワー数: 
      <%= link_to followers_user_path do %>
        <span id="followers-count">
          <%= @user.followers.count %>
        </span>
      <% end %>
      
    </div>
    
    <div class="col-lg-8 col-12 introduction">
      <p class=""><%= @user.introduction %></p>
    </div>
    
  </div>
  
  <div class="row">
    <div class="col">
      
      <ul class="tab-menu">
        <li><a href="#my-work" class="active">私の作品</a></li>
        <li><a href="#my-favorite">お気に入り</a></li>
        <% if @user.clubs.present? %>
          <li><a href="#my-clubs">参加サークル</a></li>
        <% end %>
      </ul>
      
      <div class="tab-contents">
        
        <div id="my-work" class="area active">
          <p>投稿数: <%= @user.works.size %> 作品</p>
          <%= render 'shared/works', works: @user_works, name: false, page: true %>
          
          
        </div>
        
        <div id="my-favorite" class="area">
          <p>ブックマーク数: <%= @favorited_works_size %> 作品</p>
          <%= render 'shared/works', works: @favorited_works, name: false, page: true %>
        </div>
        
        <% if @user.clubs.present? %>
          <div id="my-clubs" class="area">
            <p>サークル数: <%= @user.clubs.count %></p>
            <%= render 'shared/clubs', clubs: @clubs, name: false %>
          </div>
        <% end %>
        
      </div>
      
    </div>
  </div>
  
</div>
  
