<div class="container py-5 main-color">
  
  <%= render 'shared/user_club', admin: false, club: nil, user: @user %>
  
  <div class="row">
    <div class="col">
      
      <ul class="tab-menu">
        <li><a href="#my-favorite" class="active">お気に入り</a></li>
        <li><a href="#my-work">私の作品</a></li>
        <% if @user.clubs.present? %>
          <li><a href="#my-clubs">参加サークル</a></li>
        <% end %>
      </ul>
      
      <div class="tab-contents">
        
        <div id="my-favorite" class="area active">
          <p>ブックマーク数: <%= @favorited_works_size %> 作品</p>
          <%= render 'shared/works', works: @favorited_works, name: false, page: true %>
        </div>
        
        <div id="my-work" class="area">
          <p>投稿数: <%= @user.works.where(is_published: true).size %> 作品</p>
          <%= render 'shared/works', works: @user_works, name: false, page: true %>
        </div>
        
        <% if @user.clubs.present? %>
          <div id="my-clubs" class="area">
            <p>サークル数: <%= @user.clubs.count %></p>
            <%= render 'shared/clubs', clubs: @clubs, name: false %>
          </div>
        <% end %>
        
      </div>
      
    </div>
  </div>
  
</div>
  
