<% if admin_signed_in? %>
  <li>
    <%= link_to "通報", admin_reports_path %>
  </li>
  <li>
    <%= link_to "作品", admin_works_path %>
  </li>
  <li>
    <%= link_to "サークル", admin_clubs_path %>
  </li>
  <li>
    <%= link_to "ユーザー", admin_users_path %>
  </li>
  <li>
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
  </li>
<% elsif user_signed_in? %>
  <%= link_to my_page_user_path(current_user) do %>
    <%= image_tag current_user.get_profile_image(50, 50), class: "rounded-circle" %>
  <% end %>
  <li>
    <%= current_user.name %>さん
  </li>
  <li class="border-top-dashed">
    <%= link_to "作品投稿", new_work_path %>
  </li>
  <li>
    <%= link_to "作品", works_path %>
  </li>
  <li>
    <%= link_to "サークル", clubs_path %>
  </li>
  <li>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </li>
<% else %>
  <li>
  <%= link_to "ログイン", user_session_path %>
  </li>
  <li>
    <%= link_to "新規登録", new_user_registration_path %>
  </li>
  <li>
    <%= link_to "作品", works_path %>
  </li>
  <li>
    <%= link_to "サークル", clubs_path %>
  </li>
<% end %>


